@page "/Pedidos"

<h3>Pedidos</h3>

<TableComponent listT="pedidoDTO"></TableComponent>

@inject PedidoService pedidoService;
@code {
	public IEnumerable<PedidoDTO>? pedidoDTO { get; set; }

	protected override async Task OnInitializedAsync()
	{
		pedidoDTO = await pedidoService.GetAll();
		await base.OnInitializedAsync();
	}
}
