@page "/Produtos"

<h3>Produtos</h3>

<TableComponent listT="produtoDTO"></TableComponent>

@inject ProdutoService produtoService;
@code {
	private IEnumerable<ProdutoDTO>? produtoDTO { get; set; }

	protected override async Task OnInitializedAsync()
	{
		produtoDTO = await produtoService.GetAll();
		await base.OnInitializedAsync();
	}
}
